image-viewer
{
    position:fixed;
    z-index:15;
    background-color:#ccc;
    display:block;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    opacity:1.0;

    background: url(img/games/sea.gif) #000;
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    
}

image-viewer aside
{
    position:fixed;
    z-index:16;
    background-color: white;
    /* color:white; */
    height:100vh;
    top:0;
    right:0;
    padding:0 3rem;
    width:20vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

image-viewer button
{
    background: transparent;
    /* color: white; */
    border: 2px solid black;
    font-family: "Quicksand", sans-serif;
    padding: 0.5rem 1.5rem;
    font-size:1rem;
}

image-viewer button i
{
    margin-right:1rem;
}